* {
  box-sizing: border-box;
  font-family: "Pangolin", cursive;
}
body {
  margin: 0;
  height: 100vh;
  display: grid;
  font-family: "Pangolin", cursive;
  background-color: #6b6d6e;
  grid-template-rows: 50px 1fr 1fr;
  grid-template-areas:
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  background-color: #6b6d6e;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6b6d6e;
  padding: 20px;
  /* background-image: url("/images/img15.png");
    background-repeat: no-repeat;
    background-position: center; */
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
nav > a:hover {
  color: white;
  background-color: #424748;
}
a:hover {
  color: white;
  text-decoration: none;
}
nav > a.active {
  color: white;
}
.showProduct {
  color: black;
  text-decoration: underline;
}

.showProduct:hover {
  color: white;
  background-color: #424748;
}

.showProduct {
  display: inline;
}
.colorClass {
  color: white;
  font-size: 14px;
}
.here {
  text-decoration: underline;
  font-family: "Pangolin", cursive;
  color: white;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#add-review-form input[type="submit"] {
  width: 8rem;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
}
i {
  display: inline;
}
.nav-wrapper {
  background-color: #5a5850;
}
.brand-logo {
  margin-left: 10px;
  font-size: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.searchIcon {
  color: black;
}
option:hover {
  background-color: none;
}

* {
  box-sizing: border-box;
}
.search-img {
  width: 200px;
  margin: 5px;
}
.grid-container {
  display: grid;
  gap: 40px;
  grid-template-rows: 3fr;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: repeat(30, 3fr);
}
.search-from {
  margin-bottom: 0;
}
.noResut {
  width: 100%;
  text-align: center;
  border-bottom: 2px dashed black;
  padding-bottom: 10px;
}
label {
  font-size: 16px;
}
.descriptionClass {
  text-align: left;
  margin-left: 5px;
}
.descriptionClass strong {
  text-decoration: double;
}
.showClass img {
  max-width: 250px;
  float: left;
  margin: 15px;
}

.showClass > h2 {
  text-align: center;
}
