<%- include("../partials/header") %>

<% productData.forEach(function(b){ %>
  <% newBrand.forEach(function(nB){ %>
    <% if(nB==b.brand){ %>
      <% newProduct.forEach(function(nP){ %>
        <% if(nP==b.product_type){ %>

      <div class="sortingImg">
        <img src="<%= b.api_featured_image %>" >
        <form action="/products/<%=b._id %>" method="GET">
        <button type="submit">Detail</button>
            </form>
        </div>
        <% }})}})}) %>

<%- include("../partials/footer") %>