<%- include("../partials/header") %>
<% productData.forEach(function(b){ %>
  <% newBrand.forEach(function(nB){ %>
    <% if(b.brand==nB){ %>
      <% a++ %>
      <% newProduct.forEach(function(nP){ %>
      <% if(b.product_type== nP){ %>
        <% c++ %>
        <div class="sortingImg">
          <img src="<%= b.api_featured_image %>">
          <form action="/products/<%=b._id %>" method="GET">
            <button type="submit">Detail</button>
          </form>
        </div>
<% }})}})}) %>

<% if(c==0){ %>
  <h3>Sorry, <a href="/clothes/search" class="here">search</a> again :( </h3>
<% } %>

<%- include("../partials/footer") %>